<template>
  <div class="about">
    <h1 class="title">VUE3.0 H5开发模板</h1>
  </div>
</template>

<script>
export default {
  setup () {
    return {}
  }
}
</script>

<style lang="scss" scoped>
  .title {
    display: block;
    font-size: 36px;
    text-align: center;
  }
  p {
    padding: 20px 10px;
    font-size: 16px;
  }
  img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
</style>
